table{
    border: 1px solid;
    width: 80%;
}

#identyfikator {
    background-color: greenyellow;
    }

    .mojeKlasa {
    color: aquamarine;
    }

    .mojeKlasa.drugaKlasa{
        color: red;
    }