body{
background-color: blue;
}

p{
background-color: orange;

}

div{
font-size: 20px
}

pre{
color: green

}

img{
margin: auto;
display: block;
border-color: black;
border-width: medium;
border-style: dashed;
border-radius: 25px;
/* śdnica zaokrąglenia rogów 25 pikseli*/
}

.lista{
list-style-type: lower-roman;
list-style-possition: inside;
top: 2px;
right: 450px
visibility: visible;
}

a{
    text-decoration: none;
}

a:link{ /*ostylowanie nieodwiedzonego linku*/
color: #green;
}

a:visited{
color: orange;
}

a:hover{ /*stan gdy najedziemy myszką na link*/
color: olive;
margin-top: 5px;
margin-left: 2px;
font-weight: bold;
}

a:active{ /*stan gdy klikamy na link*/
    color: black;
}

p:first-letter {
    font-size: 45px;
}

li:nth-child(2){
background-color: red;
}